<nav class="col-md-2 d-none d-md-block sidebar py-4">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/"> <h3>Navigation</h3> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users"> Manage User </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles"> Manage Role </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles"> Tools </a>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/links"> Manage Link </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
