<h3 class="mb-4">Manage Role</h3>
<a href="/roles/add" class="text-white text-decoration-none btn btn-primary"
  ><i class="fa-solid fa-user-plus" style="color: #ffffff"></i
></a>
<!-- table ui -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Time</th>
      <th width="7%">Edit</th>
      <th width="7%">Delete</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
